# Ignore everything
*
!LICENSE
!*/
build/

!.gitignore
!*.json
!*.yml

# Allow C++ source files
!*.cpp
!*.hpp
!*.c
!*.h
!*.py
!*.qml

# Allow other files
!*.txt
!*.puml
!*.md
!*.svg
!*.sh
!*.png
!*.jpeg